body{
  background-image: linear-gradient(#4FDFAE, #111C20);
}

#stream{
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2%;
    border-radius: 15px;
    height: 225px;
    width: 90%;
    background-image: linear-gradient(#2D6280, #0B1920);
    /*overflow: scroll; */
    /*display:inline;*/
}

#portal{
    margin-top:10px;
    margin-left: 5%;
    margin-right: 5%;
   	width: 90%;
   	height: 200px;
   	border-radius: 15px;
   	background-image: linear-gradient(#2D6280, #0B1920);
   	padding: 15px;
}


#outer_wrapper {  
    overflow: scroll;  
    width:100%;
}
#outer_wrapper #inner_wrapper {
    display: flex;
}
#outer_wrapper #inner_wrapper div.box {
    float: left;
    padding:1px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}


/* Style the images inside the grid */
.box img {
  opacity: 0.8; 
  cursor: pointer; 
}

.box img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}