

body{
  background-color: #003340;
  font-family: 'ZCOOL KuaiLe';
}

h1{
  font-family: 'ZCOOL KuaiLe';
	font-weight: bold;
	font-size: 85px;
	color: #FFC300;	
}

.menu{  
  height: 350px;
  background-color: #0B6E89;
  color: #FFC300;
  font-size: 30px;
  text-align:center;
  margin-bottom: 10px;
}

.content{
  height: 500px;
  background-color: #0F92B7;
  font-size: 30px;
  text-align:center;
  margin-bottom: 10px;
  
}

.contact{
  height: 1020px;
  background-color: #0F92B7;
  font-size: 30px;
  text-align:center;
  margin-bottom: 10px;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #095B72;
}

.flex-container > div {
  background-color: #0F92B7;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  font-family: 'ZCOOL KuaiLe';
}

.footer{
  height: 200px;
  background-color: #0B6E89;
  font-family: 'ZCOOL KuaiLe';
	font-weight: bold;
	font-size: 20px;
	color: #001920;
}

table, th, td {
  height: 100px;
  border: 3px solid #111B1A;
  border-collapse: collapse;
  background-color: #DAF7A6;
  font-family: 'ZCOOL KuaiLe'
}
  