body
{
    color: #F87474;
    font-family: 'ZCOOL KuaiLe';
	font-weight: bold;
    text-align: center;
    background-image: linear-gradient(#FBEFEC, #22BDED);
    height:2160px;
}

.menu{  
  height: 300px;
  background-color: #22BDED;
  color: #FFAB95;
  font-size: 30px;
  text-align:center;
  margin-bottom: 10px;
}


/*#img*/
/*{*/
/*    display:flex;*/
/*    flex-direction:column;*/
/*    text-align: center*/
/*}*/

table {
  margin-top: 30px;
  margin: 5% 20% 0% 20%;
  text-align: center;
  /*width: */
  height: 80%;
  /*border: 3px solid #111B1A;*/
  border-collapse: collapse;
  background-image: linear-gradient(#22BDED, #FBEFEC);
  
  display:flex;
  flex-wrap: wrap;
}


td{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}




.center
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
    
}

.favorite
{
    height: 15px;
    width:  15px;
    /*background-image: linear-gradient(#FBEFEC, #22BDED);*/
}

    
h1
{
     background-color: transparent;
}